create trigger "[% trigger %]"
before insert or update on [% IF table_schema %]"[% table_schema %]".[% END %]"[% table %]"
for each row
execute function [% IF function_schema %]"[% function_schema %]".[% END %]"[% function %]"();
