begin $$
   if exists (
     select from pg_catalog.pg_roles
     where rolname = [% role %]
   ) then
      raise notice 'Role already exists, skipping.';
   else
      create role [% role %] noinherit login password [% password %];
   end if;
end; $$
