begin;

create function api.logout() returns void
as $$
declare
  headers text;
begin
  -- Delete cookies
  headers := '['
  '{"Set-Cookie": "access_token=; path=/; expires=Thu, 01 Jan 1970 00:00:00 GMT;"},'
  '{"Set-Cookie": "refresh_token=; path=/; expires=Thu, 01 Jan 1970 00:00:00 GMT;"}'
  ']';
  perform set_config('response.headers', headers, true);
end;
$$
language plpgsql
security definer;

commit;
