do
$do$
begin
   if exists (
     select from pg_catalog.pg_roles
     where rolname = '[% role %]'
   ) then
      raise notice 'Role already exists, skipping.';
   else
      create role [% role %] nologin;
   end if;
end
$do$;
