create function auth.encrypt_pass()
returns trigger
as $$
begin
  if tg_op = 'INSERT' or new.password <> old.password then
    new.password = crypt(new.password, gen_salt('bf'));
  end if;
  return new;
end
$$
language plpgsql;
