do
$do$
begin
   if exists (
     select from pg_catalog.pg_roles
     where rolname = 'authenticator'
   ) then
      raise notice 'Role already exists, skipping.';
   else
      create role authenticator noinherit login password 'mysecretpassword';
   end if;
end
$do$;
