do $$
begin
  assert (
    select description = '[% comment %]'
    from pg_proc p
    join pg_namespace n on n.oid = p.pronamespace
    join pg_description d on d.objoid = p.oid
    where n.nspname = '[% schema %]'
      and p.oid = '[% schema %].[% object %]'::regprocedure
  );
end;
$$ language plpgsql;
