do $$
declare
  actual text;
begin
  select description into actual
  from pg_proc p
  join pg_description d on d.objoid = p.oid
  where p.oid = '[% IF schema %][% schema %].[% END %][% object %]'::regprocedure;

  -- We don't assert on the value because subsequent comments may override the
  -- original one, which will make the earlier verify scripts fail
  assert actual is not null;
end;
$$ language plpgsql;
