do $$
begin
  assert (
    select description = '[% comment %]'
    from pg_namespace n
    join pg_description d on d.objoid = n.oid
    where n.nspname = '[% schema %]'
      and d.objsubid = 0
  );
end;
$$ language plpgsql;
