do $$
declare
  actual text;
begin
  select description into actual
  from pg_attribute a
  join pg_class c on c.oid = a.attrelid
  join pg_namespace n on n.oid = c.relnamespace
  join pg_description d on d.objoid = a.attrelid and d.objsubid = a.attnum
  where c.relname = '[% object %]'
    [% IF schema %]and n.nspname = '[% schema %]'[% END %]
    and a.attname = '[% column %]';

  assert actual is not null;
end;
$$ language plpgsql;
