begin $$
  assert (
    select exists (
      select 1 from information_schema.routines
      [% IF% ]
      where specific_schema = '[% schema %]'
      [% ENDIF %]
      and routine_name = '[% function %]'
    )
  );
end; $$
