begin $$
  assert (
    select exists (
      select 1 from information_schema.tables
      where table_name = '[% table %]'
      [% IF schema %]
      and table_schema = '[% schema %]'
      [% END -%]
    )
  );
end; $$
