do $$
begin

  assert (
    select exists (
      select 1
      from information_schema.routines
      where specific_schema = 'auth'
      and routine_name = 'generate_access_token'
    )
  );

end;
$$;
