do $$
begin
  assert (
    select exists (
      select 1 from information_schema.routines
      where routine_name = '[% function %]'
[% IF schema -%]
      and specific_schema = '[% schema %]'
[% END -%]
    )
  );
end;
$$ language plpgsql;
