begin $$
  assert (
    select exists (
      select 1 from information_schema.table_privileges
      where lower(privilege_type) = '[% type %]'
[% IF schema -%]
      and table_schema = '[% schema %]'
[% END -%]
      and table_name = '[% table %]'
      and grantee = '[% role %]'
    )
  );
end; $$
