begin;

create table auth.users (
  email text primary key check (email ~* '^.+@.+\..+$'),
  pass text not null check (length(pass) < 512),
  role name not null check (length(role) < 512)
);

commit;
