BEGIN;

/* Note: "The name cannot be schema-qualified — the trigger inherits the schema of its
 * table." */

create trigger [% trigger %]
before insert or update on [% table_schema %].[% table_name %]
for each row execute procedure [% function %]('[% event %]');

COMMIT;
