BEGIN;

create function auth.check_role_exists () returns trigger as $$
begin
  if not exists ( select 1 from pg_roles as r where r.rolname = new.role) then
    raise foreign_key_violation using message = 'unknown database role: ' || new.role;
    return null;
  end if;
  return new;
end
$$ language plpgsql;

COMMIT;
