BEGIN;

/* Note: "The name cannot be schema-qualified — the trigger inherits the schema of its
 * table." */

create trigger [% trigger_name %]
before insert or update on [% table %]
for each row execute procedure utils.notify_row_updated('[% event %]');  -- edit this!

COMMIT;
