BEGIN;

create table [% schema %].[% name %] (
    id serial,
    created_at timestamp not null default now(),
    updated_at timestamp not null default now(),
    ...
);

create trigger [% schema %]_[% name %]_updated
before update on [% schema %].[% name %]
for each row execute procedure utils.update_modified_column();

COMMIT;
