begin;

create function auth.user_role (username text, password text)
  returns name
  language plpgsql
  as $$
begin
  return (
    select role
    from auth.user
    where user.username = user_role.username
      and user.password = crypt(user_role.password, user.password));
end;
$$;

commit;
