begin;

create function public.login (email text, pass text, out token text)
as $$
declare
  _role name;
begin
  -- check email and password
  select auth.user_role (email, pass) into _role;
  if _role is null then
    raise invalid_password
    using message = 'invalid user or password';
  end if;
  select sign(row_to_json(r), 'reallyreallyreallyreallyverysafe') as token
    from (select _role as role, login.email as email, extract(epoch from now())::integer + 60 * 60 as exp) r into token;
end;
$$
language plpgsql
security definer;

commit;
