do $$
begin

  assert (
    select exists (
      select 1 from information_schema.columns
      where table_schema = '[% schema %]'
      and table = '[% table %]'
      and column = '[% column %]'
    )
  );

end; $$;
