do $$
BEGIN

assert (
    select exists (
        select 1 from information_schema.routines
        where specific_schema = '[% schema_name %]'
        and routine_name = '[% function_name %]'
    )
);

END; $$;
