-- Verify

do $$
BEGIN

assert (
    select exists (
        select 1 from information_schema.triggers
        and trigger_name = '[% trigger_name %]'
        and event_object_schema = '[% table_schema %]'
        and event_object_table = '[% table_name %]'
    )
);

END; $$;
