do $$
BEGIN

assert (
    select exists (
        select 1 from information_schema.triggers
        where trigger = '[% trigger %]'
        and event_object_schema = '[% schema %]'
        and event_object_table = '[% table %]'
    )
);

END; $$;
