do $$
begin

  assert (
    select not exists (
      select 1 from information_schema.routines
      where specific_schema = '[% oldschema %]'
      and routine_name = '[% oldname %]'
    )
  );

  assert (
    select exists (
      select 1 from information_schema.routines
      where specific_schema = '[% newschema %]'
      and routine_name = '[% newname %]'
    )
  );

end; $$;
